img{
background-image: url("sad.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-color: #E6FBFC;

}

body{
  display: block;
  text-align: center;
  padding: 100px;
  font-style: oblique;
  font-family: monospace;
}

a{
  font-family: cursive;
  font-weight:bold;
}
